extends layout
block content
    h1= title
    - let instrumentid = toShow._id
    - let instrument_name = toShow.instrument_name
    - let manufacturer = toShow.manufacturer
    - let price = toShow.price
    div
    div.row
    div(class='instrumentAttr mr-3') Instrument ID is:
    div #{instrumentid}
    div.row
    div(class='instrumentAttr mr-3') Instrument Name is:
    div #{instrument_name}
    div.row
    div(class='instrumentAttr mr-3') Instrument manufacturer is:
    div #{manufacturer}
    div.row
    div(class='instrumentAttr mr-3') Instrument Cost is:
    div #{price}