extends layout

block content
  style.
    .instrument-container {
      margin-top: 20px;
    }

    .instrumentAttr {
      font-weight: bold;
    }

    .instrument-info {
      margin-bottom: 10px;
    }

  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let instrumentid = toShow._id
    - let instrument_name = toShow.instrument_name
    - let manufacturer = toShow.manufacturer
    - let price = toShow.price

    .instrument-container
      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') Instrument ID:
        .col-md-3
          div #{instrumentid}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') Instrument Name:
        .col-md-3
          div #{instrument_name}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') Instrument Manufacturer:
        .col-md-3
          div #{manufacturer}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') Instrument Cost:
        .col-md-3
          div #{price}
